body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-repeat: repeat;
  text-align: left;
}
#wrapper {
  width: 1200px;
  margin:50px 50px;
}
h1 {
	font-size: 60px;
	margin:0px 0px;
}
#header {
	color:#FF6501;
	text-align: center;
	font-size:100px;
	font-style: bold;
}
h2 {
	font-size: 40px;
	font-style: italic;
	text-align: center;
}
h3 {
	color: #FF6501;
	font-size: 25px;
	font-style: normal;
	margin-bottom: 0px;
}
h4 {
	color: #5B96C4;
	font-size: 25px;
	font-style: normal;
	margin-bottom: 0px;
}
h5{
	font-size: 20px;
	font-style: normal;
	margin-bottom: 0px;
}
p {
	font-size: 15px;
}
.center {
	text-align: center;
}
.textbox {
	width:600px;
}
.logo{
	width:170px;
	height:30px;
	margin-top: 10px;
	margin-right:10px;
}
.navbar-bottom{
	height:30px;
	margin-top: 40px;
}
#aboutjumbotron{
	background-image: url(nics-asawa.github.io/homepage.JPG);
	height:500px;
}
#indexjumbotron{
	background-image: url(nics-asawa.github.io/cooking.JPG);
	height:500px;
}
.thumbnail{
	height:270px;
}


.points {
	font-size: 15px;
	font-family: arial;
}



img {
	width:200px;
}
a {
	color:blue;
}
a:visited{
	color:purple;
}
